<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="initial-scale=1" />
  <%#
    Configure default and controller-, and view-specific titles in
    config/locales/en.yml. For more see:
    https://github.com/calebthompson/title#usage
  %>
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-16x16.png">
  <title><%= title %></title>
  <%= stylesheet_link_tag :application, media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">

  <div id="flash">
    <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value %></div>
    <% end %>
  </div>
  <%= render "flashes" -%>
  <div class="container">
    <%= render "navigation" %>
    <div class="content">
      <%= yield %>
    </div>
  </div>
  <%= render "javascript" %>
  <%= render "css_overrides" %>
</body>
</html>
